NEXT_PUBLIC_SUPABASE_URL=https://fznrhkfzxvtocbzurzvu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kWX-xKB6POY5AQIqv6XU2w_WYpaZPzS
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6bnJoa2Z6eHZ0b2NienVyenZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODAzODMsImV4cCI6MjA4OTc1NjM4M30.B5ilrpjuankhNPHOt0pr5_WyJrPHnTb9slPYzRzLk5k
GROQ_API_KEY=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
APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
